<html>
<head>
  <title>White Walkers are here....</title>
</head>

<body>

  <h1>YOOOOOO BITCHESSZSZSZSZZZZZZZ..........</br>WASSSUPPPPPP.....</h1>

  <h2>le bhai akash ....just for you ,,, your index.html....</h2>

  <h3>those who are NOT akash please type baki_ka_url/polls/?search='jo_bhi_gaana_tujhe_chahiye'   and hit enter
  	hope you enjoy downloading..........
  	;)
  </h3>

  <p><a href='/polls/?search="The imitation game sometimes no one can imagine dialog"'> I think that sometimes it is the people that no one imagines of .....
  	who do the things that no one can imagine..:)</a></p>

</body>

</html>                                                                                                         