<html>

<head>
  <title>NaN Song Downloader</title>
</head>
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "songlist.css" %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<body>
<div class ='strt'>

  <h1>Welcome to NaN song downloader</h1>
</div>
{% block download %}
{% endblock %}
<div>
  <p>Developed by: Shreyansh Nahata<br/>Special Thanks to:<br/>Akash Shakdwipeea<br/>Raghav Rastogi  </p>
</div>
</body>
</html>       