<html>
<head>
  <title>White Walkers are here....</title>
</head>

<body>
<div class ='strt'>
  <h1>YOOOOOO BITCHESSZSZSZSZZZZZZZ..........</br>WASSSUPPPPPP.....</h1>
</div>
<div class='message'>
  <h2>le bhai akash ....just for you ,,, your index.html....</h2>

  <h3>those who are NOT akash please type baki_ka_url/polls/?search='jo_bhi_gaana_tujhe_chahiye'   and hit enter
  	hope you enjoy downloading..........
  	;)
  </h3>
</div>
<div class = 'download'>
	<form action='../polls/' method='get'>
		<label> Enter the Song:</label>
		<input id='song_name' type='text' name='search' value=''>
		<input type='submit' value='Download this song'>

	</form>
</div>

  <p>I think that sometimes it is the people that no one ever imagines of .....
  	who do the things that no one can imagine..:)</p>



</body>

</html>                                                                                                         